* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6C6B6B;
}
a {
  text-decoration: none;
}

header {
  background: #EC715F;
}

nav {

}

.nav-list-item {
  list-style: none;
  display: inline-block;
  color: #fff;
  margin: 0 20px;
}